#################################################
# Exclude all by default
#################################################
*

#################################################
# Whitelisted folders
#################################################
!public*
!scripts*
!src*
!test*
!nginx*

#################################################
# Whitelisted files
#################################################
!.env
!package.json
!yarn.lock
!tsconfig.json
!tsconfig.build.json
!LICENSE
!.eslintrc.js
!.prettierrc.json
!.eslintignore
!index.html
!vite.config.mts
