#################################################
# Exclude all by default
#################################################
*

#################################################
# Whitelisted folders
#################################################
!public*
!scripts*
!src*
!test*
!.prod*

#################################################
# Whitelisted files
#################################################
!.env
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!tsconfig.json
!tsconfig.build.json
!LICENSE
!eslint.config.mjs
!.prettierrc.json
!index.html
!vite.config.mts
!vite.config.build.ts
