@import 'hds-design-tokens/lib/all.scss';

.opening-period {
  font-family: HelsinkiGrotesk-Regular, Arial, sans-serif;
  box-sizing: border-box;
  background-color: var(--opening-period-background-color);
  padding: $spacing-xs $spacing-m;
  border-bottom: 1px solid var(--color-black-60);

  h4 {
    font-size: $fontsize-body-l;
    margin: 0;
    word-break: break-all;
  }
}

.opening-period-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: -$spacing-m;
  align-items: center;

  > * {
    margin-left: $spacing-m;
  }
}

.opening-period-header-checkbox {
  width: $spacing-m;
}

.opening-period-header-column {
  flex: 1;
  align-items: center;
  display: flex;
  gap: $spacing-m;
  justify-content: space-between;
}

.opening-period-dates {
  align-items: stretch;
  flex-basis: 100%;
  flex-direction: column;
  flex-grow: 1;
  gap: $spacing-2-xs $spacing-s;
  line-height: $lineheight-l;
  margin-bottom: $spacing-s;
  order: 1;
}

@media screen and (min-width: $breakpoint-s) {
  .opening-period-dates {
    align-items: center;
    flex-basis: 18ch;
    flex-direction: row;
    margin-bottom: revert;
    order: revert;
  }
}

.opening-period-active {
  white-space: nowrap;
}

.opening-period-title {
  display: flex;
  justify-content: normal;
  margin: 0;
  margin-left: $spacing-m;
}

.opening-period-action-edit {
  color: $color-black;
}

.opening-period-action-copy {
  color: $color-black;
  margin-right: $spacing-2-xs;
}

@media screen and (min-width: $breakpoint-s) {
  .opening-period-action-delete {
    margin-right: $spacing-s;
  }
}

.date-period-details-container {
  align-items: stretch;
  display: flex;
  flex-direction: column;

  & > * {
    flex: 1;
  }

  & caption {
    font-size: $fontsize-body-m;
  }
}

@media screen and (min-width: $breakpoint-m) {
  .date-period-details-container {
    align-items: flex-start;
    flex-direction: row;
  }
}

.opening-period-actions {
  flex: 1 1;
  justify-content: flex-end;
  gap: 0;
}

@media screen and (min-width: $breakpoint-xl) {
  .opening-period-actions {
    flex: 0.65 0.65;
  }
}

.opening-period-actions-menu {
  position: relative;
}

.opening-period-actions-menu-items {
  align-items: stretch;
  background: white;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  left: -1px;
  position: absolute;
}

.opening-period-actions-menu-item {
  background: transparent;
  border: 0;
  color: $color-black;
  display: block;
  line-height: $lineheight-l;
  margin: 0;
  padding: $spacing-xs $spacing-s;
  text-align: left;
  text-decoration: none;
}

.opening-period-actions-menu-item:hover {
  background: $color-bus;
  color: $color-white;
}
