@import 'hds-design-tokens/lib/all.scss';

.resource-past-opening-hours-page {
  display: flex;
  flex-direction: column;
  gap: $spacing-m;
}

.past-opening-hours-title {
  color: var(--color-coat-of-arms);
  font-size: $fontsize-heading-m;
  margin-top: $spacing-2-xs;
}

.past-opening-hours-content {
  margin-top: $spacing-m;
}
