@import 'hds-design-tokens/lib/all.scss';

.resource-page {
  display: flex;
  flex-direction: column;
  gap: $spacing-m;
}

.resource-info-title-add-on {
  margin-left: auto;
}

.resource-copy-date-periods {
  margin: var(--spacing-m) 0;
}

.resource-copy-modified-text {
  margin-top: var(--spacing-s);
  display: block;
}

.resource-info-subtitle {
  color: var(--color-coat-of-arms);
  font-size: $fontsize-heading-m;
  margin-top: $spacing-2-xs;
}

.resource-info-address {
  display: inline-block;
  font-style: normal;
}

.resource-description-text {
  white-space: pre-wrap;
}

.related-resource-description-text {
  margin-top: 0;
}

.related-resource-list-item {
  margin: $spacing-m 0;
}

.child-resources-title {
  color: var(--color-coat-of-arms);
  margin: $spacing-s 0 $spacing-s;
}

.resource-child-resources-description {
  margin: 0;
  padding: 0;
}

.past-opening-hours-link-section {
  display: flex;
  align-items: center;
  gap: $spacing-2-xs;
  margin-top: $spacing-m;
}

.past-opening-hours-arrow {
  color: var(--color-coat-of-arms);
}
