@import 'hds-design-tokens/lib/all.scss';

.header {
  flex-shrink: 0;

  --nav-link-font-color: var(--color-black-90) !important;

  @media screen and (max-width: $breakpoint-l) {
    --lang-selector-item-font-color: var(--color-black-90) !important;
  }

  .closeLink {
    display: flex;
    align-items: center;
    color: var(--color-black-90);
  }
}
